# ABIO558 Assignment Check-In

### Project Goals:
1. Write markdown text describing the question and outlining your plan for analysis
2. Insert a snippet of code to load data
3. print() or visualization a command to view the data

## Goal 1: Outline your plan for analysis

In [ ]:
# Plan for Analysis: Analyze MKD8 WT vs espM KO RNASeq data to determine gene expression differences
# --> conditions are WT and deletion of the espM gene. Looking for significant changes
# in expression of gene in the whiB6 regulon (and/or anywhere else in the genome)

# Outline:

# Pull out raw count data for each of the 4 samples

# Normalize and calculate p-values

# Bonferroni/Multiple testing correction
# Note: this gives corrected p-values to account for false significance

# Find ratio of KO/WT

# Make a log2 expression of the ratio

# logfold2 and then transform that into log2

# generate Volcano and MA plots

## Goal 2: Make Code to Load Data

### Step 1: Pull out the correct data columns

1) Import libraries
2) Find file path - check that it's correct
3) Load data with pandas
4) Pull out raw count columns for each of the 4 samples (note: rename columns - Biorep 1 = OLD, Biorep 2 = NEW)

In [9]:
# 1. Import Libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import scanpy
import anndata
import seaborn as sns
import skimage
from skimage.io import imread
from scipy import stats

In [24]:
# 2. Find file path

data_directory = 'C:/Users/denis/Downloads/'
filepath_mkd8 = os.path.join(data_directory, 'MKD8_KO_Rockhopper_data.csv')
os.path.exists(filepath_mkd8)

True

### Goal 3: Visualize a command

In [25]:
# 3. Load data with pandas

reads_df = pd.read_csv(filepath, index_col=0).T
reads_df.head()

Transcription Start,NaN,NaN,2072.0,3303.0,4225.0,NaN,6201.0,8234.0,8250.0,10839.0,...,6979941.0,6982120.0,6983355.0,6984329.0,6985074.0,6985091.0,6985687.0,6987027.0,6987520.0,6987853.0
Translation Start,1.0,1454.0,2109.0,3331.0,4234.0,5385.0,6201.0,NaN,8258.0,10839.0,...,6979984.0,6982002.0,6983296.0,6984327.0,6985067.0,NaN,6985652.0,6986791.0,6987520.0,6987695.0
Translation Stop,1515.0,2071.0,3302.0,4224.0,5388.0,5969.0,8228.0,NaN,10786.0,11621.0,...,6981204.0,6981250.0,6982241.0,6983356.0,6984330.0,NaN,6985101.0,6985688.0,6987128.0,6987552.0
Transcription Stop,NaN,2071.0,3302.0,4224.0,NaN,6199.0,8233.0,8249.0,10838.0,11681.0,...,NaN,6980814.0,6982126.0,6983356.0,6984330.0,6985075.0,6985092.0,6985688.0,6987033.0,6987521.0
Strand,+,+,+,+,+,+,+,+,+,+,...,+,-,-,-,-,-,-,-,-,-
Name,dnaA,-,dnaN,-,recF,-,gyrB,-,gyrA,-,...,-,-,parB,-,gidB,-,-,oxaA,rnpA,-

In [27]:
# 4. extract the raw count columns

reads_df_2 = pd.read_csv(filepath_mkd8, usecols=['Raw Counts MKD8-oldmycospike', 'Raw Counts MKD8-NEWmycospike', 'Raw Counts KOespM-OLDmycospike', 'Raw Counts KOespM-NEWmycospike'])
reads_df_2.head()

,Raw Counts MKD8-oldmycospike,Raw Counts MKD8-NEWmycospike,Raw Counts KOespM-OLDmycospike,Raw Counts KOespM-NEWmycospike
0,4093.0,3700.0,1442.0,1604.0
1,1969.0,1744.0,749.0,650.0
2,13295.0,9364.0,4701.0,4894.0
3,8056.0,5592.0,4026.0,3617.0
4,3001.0,1928.0,1513.0,1542.0